<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.homeManagement.house_list.mapper.HouseListMapper">

    <select id="getList" resultType="com.cy.homeManagement.house_list.entity.HouseList">
        select hb.`build_name`,hb.`build_id`,hu.unit_name,hl.*
        from house_building as hb,house_unit as hu,house_list as hl
        where hb.build_id = hu.build_id and hu.unit_id = hl.unit_id
        <if test="buildName != null and buildName !=''">
            and hb.build_name like concat('%',#{buildName},'%')
        </if>
        <if test="unitName != null and unitName !=''">
            and hu.unit_name like concat('%',#{unitName},'%')
        </if>
        <if test="houseNum != null and houseNum !=''">
            and hl.house_num like concat('%',#{houseNum},'%')
        </if>
        <if test="status != null and status !=''">
            and hl.status like concat('%',#{status},'%')
        </if>
    </select>
    <select id="getHouseListByUnitId" resultType="com.cy.homeManagement.house_list.entity.HouseList">
        SELECT *
        FROM house_list
        WHERE unit_id = #{unitId}
    </select>
    <select id="editHouseList" resultType="com.cy.homeManagement.house_list.entity.HouseList">
        SELECT hl.*
        FROM `house_list` as hl
                 LEFT JOIN house_building as hb ON hb.build_id = #{unitId}
                 LEFT JOIN house_unit as hn ON hn.unit_id = #{buildId}

    </select>
</mapper>
